@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}
html,
body {
  min-height: 100vh;
  font-family: poppins;
}
body,
input {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: poppins;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}
h1,
h4 {
  font-weight: 400;
}
h4 {
  margin: 22px 0 4px;
}
h5 {
  text-transform: uppercase;
  color: #095484;
}
.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
form {
  width: 96%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  background: #fff;
  border-radius: 4mm;
}
input {
  padding: 5px;
  border: 0.5mm solid black;
  vertical-align: middle;
  transition: 0.25s;
  max-width: 80vw;
  color: black;
}
textarea {
  border: 0.5mm solid black;
  resize: vertical;
  transition: 0.25s;
  color: black;
}
input:focus,
textarea:focus {
  outline: none;
  border: 0.5mm solid black;
  box-shadow: 10px 10px 0px rgb(37, 37, 37);
}
.inputf {
  width: fit-content;
  flex-grow: 1;
  margin: auto 10px;
}
input[type="radio"]:focus {
  box-shadow: none;
  width: fit-content;
}
.allInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.vsmall {
  width: 200px;
  height: 45px;
}
.small {
  width: 450px;
  height: 45px;
}
.big {
  width: 100%;
  height: 45px;
}
.large {
  width: 450px;
  height: 140px;
}
.larger {
  width: 100%;
  height: 220px;
}
.vlarge {
  width: 100%;
  height: 140px;
}
th,
td {
  width: 15%;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  vertical-align: unset;
  line-height: 18px;
  font-weight: 400;
  word-break: break-all;
}
.additional-question th,
.additional-question td {
  width: 38%;
}
.course-rate th,
.course-rate td {
  width: 19%;
}
.first-col,
.additional-question .first-col,
.course-rate .first-col {
  width: 24%;
  text-align: left;
}
.question,
.comments {
  margin: 15px 0 5px;
  font-weight: 600;
}
.question-answer label {
  display: inline-block;
  padding: 0 20px 15px 0;
}
.question-answer input {
  width: auto;
}
.question-answer,
table {
  width: 100%;
}
.btn-block {
  margin-top: 20px;
  text-align: center;
}
.submit {
  width: 150px;
  padding: 10px;
  background: rgb(198, 247, 136);
  font-size: 16px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 0.5mm solid black;
  transition: 0.25s;
  font-weight: 500;
}

.submit:hover {
  box-shadow: 10px 10px 0px rgb(37, 37, 37);
}
@media (min-width: 568px) {
  th,
  td {
    word-break: keep-all;
  }
}
.button {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  /* text-align: center; */
  font-size: px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

.button span:after {
  content: "\00bb";
  position: "relative";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.dropdown {
  position: relative;
  max-width: max-content;
  margin: 20vh auto;
}

.dropdown__button {
  padding: 10px 20px;
  background-color: #323b40;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.dropdown__button:hover {
  background-color: #222222;
}

.dropdown__menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  color: blue;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.dropdown:hover .dropdown__menu {
  height: 120px;
}

.dropdown__menu a {
  padding: 10px;
  color: blue;
  text-decoration: none;
  border-top: 1px solid #e0e0e0;
}

.dropdown__menu a:hover {
  background-color: #f0f0f0;
  color: blue;
}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: "codropsicons";
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/codropsicons/codropsicons.woff") format("woff"),
    url("../fonts/codropsicons/codropsicons.ttf") format("truetype"),
    url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url(../images/adminBack.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container > header,
.codrops-top {
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
}

.container > header {
  margin: 0 auto;
  padding: 6em 3em;
  padding-left: 470px;
  color: black;
  font-family: poppins;
  font-weight: 500;
}

.container > header a {
  color: #566473;
  text-decoration: none;
  outline: none;
}

.container > header a:hover {
  color: #4f7bab;
}

.container > header h1 {
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}
.container > p {
  color: white;
}

.container > header span {
  display: block;
  font-size: 55%;
  color: #74818e;
  padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */
.codrops-top {
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  width: 100%;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  text-decoration: none;
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: #888;
  display: inline-block;
}

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.95);
  color: #333;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.codrops-icon:before {
  font-family: "codropsicons";
  margin: 0 4px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
  padding-top: 1em;
  font-size: 0.9em;
}

.codrops-demos a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 0.5em;
  padding: 0.7em 1.1em;
  border: 3px solid #b1aea6;
  color: #b1aea6;
  font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
  border-color: #89867e;
  color: #89867e;
}

@media screen and (max-width: 1025px) {
  .container > header {
    margin: 0 auto;
    padding: 120px 50px;
    font-size: 70%;
    text-align: right;
  }
}

@media screen and (max-width: 740px) {
  .codrops-icon span {
    display: none;
  }
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "ecoicons";
  src: url("../fonts/ecoicons/ecoicons.eot");
  src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ecoicons/ecoicons.woff") format("woff"),
    url("../fonts/ecoicons/ecoicons.ttf") format("truetype"),
    url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}

/* Icomoon.com */

.gn-menu-main,
.gn-menu-main ul {
  margin: 0;
  padding: 0;
  background: white;
  color: #393a3a;
  list-style: none;
  text-transform: none;
  font-weight: 400;
  font-family: poppins;
  line-height: 60px;
}

.gn-menu-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  font-size: 13px;
}

.gn-menu-main a {
  display: block;
  height: 100%;
  color: #1d1d1d;
  text-decoration: none;
  cursor: pointer;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
  color: black;
  background: rgb(198, 247, 136);
}

.gn-menu-main > li {
  display: block;
  float: left;
  height: 100%;
  text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
  position: relative;
  width: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gn-menu-main > li:last-child {
  float: right;
}

.gn-menu-main > li > a {
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.gn-menu-main:after {
  display: table;
  clear: both;
  content: "";
}

.gn-menu-wrapper {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  background: white;
  -webkit-transform: translateX(-60px);
  -moz-transform: translateX(-60px);
  transform: translateX(-60px);
  -webkit-transition: -webkit-transform 0.3s, width 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.107);
}

.gn-scroller {
  position: absolute;
  overflow-y: scroll;
  width: 350px;
  height: 100%;
}

.gn-menu {
  text-align: left;
  font-size: 18px;
}
.gn-submenu li {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  border-radius: 2mm;
  width: 310px;
  margin: auto;
}
.gn-submenu {
  border-bottom: 0.4mm solid rgba(0, 0, 0, 0.057);
}
.gn-submenu li a {
  color: #c1c9d1;
  height: 100%;
  width: 310px;
}

input.gn-search {
  position: relative;
  z-index: 10;
  padding-left: 60px;
  outline: none;
  border: none;
  background: transparent;
  color: #5f6f81;
  font-weight: 300;
  font-family: "Lato", Arial, sans-serif;
  cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
  color: #5f6f81;
}

.gn-search:-moz-placeholder {
  color: #5f6f81;
}

.gn-search::-moz-placeholder {
  color: #5f6f81;
}

.gn-search:-ms-input-placeholder {
  color: #5f6f81;
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch
  .gn-menu
  li.gn-search-item:hover
  .gn-search:focus::-webkit-input-placeholder {
  color: transparent;
}

input.gn-search:focus {
  cursor: text;
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
  color: white;
}

/* placeholder */

.no-touch
  .gn-menu
  li.gn-search-item:hover
  .gn-search::-webkit-input-placeholder {
  color: white;
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
  color: white;
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
  color: white;
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
  color: white;
}

.gn-menu-main a.gn-icon-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
}

.gn-icon::before {
  display: inline-block;
  width: 60px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "ecoicons";
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.gn-icon-help::before {
  content: "\2764";
}

.gn-icon-earth::before {
  content: "\e004";
}

.gn-icon-cog::before {
  content: "\e006";
}

.gn-icon-search::before {
  content: "\e005";
}

.gn-icon-download::before {
  content: "\e007";
}

.gn-icon-update::before {
  content: "\2B06";
}
.gn-icon-trashcan::before {
  content: "\1F5D1";
}

.gn-icon-add::before {
  content: "\002B";
}

.gn-icon-archive::before {
  content: "\e00d";
}

.gn-icon-article::before {
  content: "\e003";
}

.gn-icon-pictures::before {
  content: "\e008";
}

.gn-icon-videos::before {
  content: "\e009";
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

.gn-icon-menu::before {
  margin-left: -15px;
  vertical-align: -2px;
  width: 30px;
  height: 3px;
  background: #2f2f2f;
  box-shadow: 0 3px white, 0 -6px #2e2e2e, 0 -9px white, 0 -12px #2a2a2a;
  content: "";
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
  box-shadow: 0 3px rgb(198, 247, 136), 0 -6px rgb(41, 41, 41),
    0 -9px rgb(198, 247, 136), 0 -12px rgb(33, 33, 33);
}

.gn-icon-menu.gn-selected::before {
  background: #2d2d2d;
  box-shadow: 0 3px white, 0 -6px #202020, 0 -9px white, 0 -12px #313131;
}
.pop {
  border-radius: 2mm;
  background: rgb(241, 241, 241);
}
/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
  width: 340px;
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
  height: 60px;
}

@media screen and (max-width: 422px) {
  .gn-menu-wrapper.gn-open-all {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    width: 100%;
  }

  .gn-menu-wrapper.gn-open-all .gn-scroller {
    width: 130%;
  }
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: "codropsicons";
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/codropsicons/codropsicons.woff") format("woff"),
    url("../fonts/codropsicons/codropsicons.ttf") format("truetype"),
    url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url(../images/adminBack.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.span-color {
  color: white;
}

.container > header,
.codrops-top {
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
}

.container > header {
  margin: 0 auto;
  padding: 6em 3em;
  padding-left: 470px;
  color: black;
  font-family: poppins;
  font-weight: 500;
}

.container > header a {
  color: #566473;
  text-decoration: none;
  outline: none;
}

.container > header a:hover {
  color: #4f7bab;
}

.container > header h1 {
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}
.container > p {
  color: white;
}

.container > header span {
  display: block;
  font-size: 55%;
  color: black;
  padding: 0 0 0.6em 0.1em;
  font-weight: 500;
}

/* To Navigation Style */
.codrops-top {
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  width: 100%;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  text-decoration: none;
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: #888;
  display: inline-block;
}

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.95);
  color: #333;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.codrops-icon:before {
  font-family: "codropsicons";
  margin: 0 4px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
  padding-top: 1em;
  font-size: 0.9em;
}

.codrops-demos a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 0.5em;
  padding: 0.7em 1.1em;
  border: 3px solid #b1aea6;
  color: #b1aea6;
  font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
  border-color: #89867e;
  color: #89867e;
}

@media screen and (max-width: 1025px) {
  .container > header {
    margin: 0 auto;
    padding: 120px 50px;
    font-size: 70%;
    text-align: right;
  }
}

@media screen and (max-width: 740px) {
  .codrops-icon span {
    display: none;
  }
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.btn-danger {
  width: 100%;
  background-color: rgb(180, 11, 11) !important;
}

.btn-danger:hover {
  background-color: rgb(219, 62, 62) !important;
}

.b div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(250, 250, 250);
  font-family: poppins;
  height: fit-content;
  margin-top: 120px;
  padding: 20px 0;
}
.footer-left {
  display: flex;
  width: fit-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
}
.footer-left .logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(71, 73, 74);
  margin: 10px 0;
  margin-right: 15px;
}
.footer-left .small-text {
  font-size: 0.9rem;
  margin: 10px 20px;
  color: rgb(100, 100, 100);
}
.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
  color: rgb(110, 110, 110);
  padding: 0 20px;
}
