@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}
.chapter-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #41228e;
}
button:focus {
  outline: none;
}
.nav-chapter-logo2 {
  height: 70px;
  margin-left: 1vw;
}
.nav-chapter-logo2 img {
  height: 60px;
  margin-top: 3px;
}
.chapter-nav-btn {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-btn {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  font-family: poppins;
  cursor: pointer;
  font-size: medium;
  margin-top: 0px;
}
.nav-btn a {
  text-decoration: none;
  font-family: poppins;
  cursor: pointer;
  font-size: medium;
  color: rgb(44, 44, 44);
  padding: 7px 14px;
  border-radius: 6mm;
  width: 100%;
  height: 100%;
  border: 0.4mm solid transparent;
}
.nav-btn a:hover {
  color: rgb(40, 40, 40);
  background: rgba(0, 0, 0, 0.022);
  border: 0.4mm solid rgb(48, 48, 48);
  border-radius: 7mm;
}
.nav-btn .nav-link {
  color: rgb(35, 35, 35);
}
.nav-link:hover {
  color: dodgerblue;
}
.nav-dots {
  position: relative;
  display: inline-block;
  padding: 0;
}
.nav-dots .threedots {
  margin-right: 16px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
}
.nav-dots .threedots:hover > span {
  color: rgb(176, 255, 176);
}
.nav-dots .threedots:hover {
  background: rgb(82, 82, 82);
}
.nav-dots .threedots span {
  font-size: x-large;
  text-align: center;
  color: rgb(49, 49, 49);
}
.dots-nav {
  position: absolute;
  background: white;
  z-index: 99999;
  right: 16px;
  min-width: 200px;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
  padding: 12px 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 3mm;
}
.nav-btn4 {
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: fit-content;
  text-decoration: none;
  font-family: poppins;
  font-size: medium;
  padding: 7px 0;
  color: rgb(45, 45, 45);
  margin: 3px 0;
  border-bottom-right-radius: 6mm;
  border-top-right-radius: 6mm;
}
.nav-btn4:hover {
  background: rgba(145, 145, 145, 0.137);
  text-decoration: none;
}
.mbutton {
  display: none;
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.mbutton span {
  font-size: xx-large;
}
.mbutton:hover {
  color: red;
}
.chapter-navigation2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 99999;
  background: white;
  transform: translateX(101vw);
  transition: 0.25s;
}
.topbar {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav2images img {
  width: 60px;
  margin-left: 10px;
  margin-top: 5px;
}
.chapter-nav-btn2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 9vh;
  height: 75vh;
  margin-bottom: 9vh;
}
.nav-btn2 {
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  font-family: poppins;
  font-size: 27px;
  color: black;
  margin-left: 5vw;
  margin-bottom: 10px;
}
.nav-btn2 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-btn2 form a {
  color: dodgerblue;
}
.chnav2end {
  width: 90vw;
  margin-left: 5vw;
  padding-top: 5%;
  border-top: rgb(187, 187, 187) solid 1px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.nav-btn3 {
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
}
.nav-btn3 a {
  text-decoration: none;
  font-family: poppins;
  font-size: large;
  color: rgb(80, 80, 80);
}
.nav-btn3 a:hover {
  color: dodgerblue;
}
#menu-open:hover {
  color: dodgerblue;
}
#menu-open {
  color: rgb(62, 62, 62);
}
.bg-light {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
}

.line2 {
  width: 95vw;
  margin-left: 2.5vw;
  height: 1px;
  background: rgba(37, 37, 37, 0.123);
  border-radius: 1mm;
  margin-top: 10px;
  margin-bottom: 20px;
}
.main-space {
  font-family: poppins;
  width: 100%;
  overflow: hidden;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background-attachment: fixed;
}
.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.content .small {
  font-size: 2rem;
  background: transparent;
}
.content .big {
  font-size: 8rem;
  line-height: 7rem;
}
.langs {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.lang-img {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 0;
}
.lang-img img {
  width: 70%;
  border-radius: 2mm;
}
.lang-content {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lang-title {
  display: flex;
  font-size: 1.1rem;
  color: rgb(72, 72, 72);
  align-items: center;
  padding: 7px 12px;
  border-radius: 6mm;
  border: 0.5mm solid rgb(68, 68, 68);
  background: rgb(196, 234, 207);
  margin-bottom: 15px;
}
.lang-title span {
  font-size: 1.5rem;
  margin-right: 2px;
}
.lang-body {
  width: 90%;
  font-size: 2.1rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-family: Lexend;
  color: rgb(64, 65, 68);
  line-height: 2.5rem;
}
.lang-body-small {
  width: 90%;
  font-family: poppins;
  color: rgb(100, 100, 100);
  font-size: 1rem;
  text-align: justify;
  margin-top: 25px;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotateUP {
  0% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(390deg);
  }
}
.rside {
  position: absolute;
  top: 60px;
  right: -100px;
  animation: rotate 600s infinite linear;
}
.rside span {
  font-size: 300px;
}
.lside {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.lside span {
  font-size: 200px;

  transform: rotateZ(-30deg);
}
.lsideup {
  position: absolute;
  top: 20%;
  left: 10px;
  animation: rotateUP 300s infinite linear;
}
.lsideup span {
  font-size: 150px;
  transform: rotateZ(30deg);
}
#start {
  color: white;
  text-decoration: none;
  background: rgb(21, 113, 204);
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 7mm;
  margin-top: 50px;
  box-shadow: 5px 5px 0 rgba(21, 113, 204, 0.189);
  transition: 0.25s;
}
#start:hover {
  box-shadow: 3px 3px 0 rgba(21, 113, 204, 0.189);
}
.line-circle {
  position: absolute;
  bottom: 0;
  width: 98%;
  margin: auto;
  display: flex;
  align-items: center;
}
.lines {
  width: 100%;
  flex-grow: 1;
  height: 0.8mm;
  border-radius: 2mm;
  background: rgba(44, 44, 44, 0.518);
}
.circle {
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1mm solid rgba(44, 44, 44, 0.518);
  margin: 0 2px;
}
.ads {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.ad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
}
.adv {
  width: fit-content;
  padding: 10px;
  border: 0.5mm solid rgba(0, 0, 0, 0.098);
  border-radius: 2mm;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.adv-title {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adv-title .title {
  display: flex;
  font-size: 1rem;
  color: rgb(72, 72, 72);
  align-items: center;
  padding: 6px 10px;
  border-radius: 6mm;
  border: 0.5mm solid rgb(68, 68, 68);
  margin-bottom: 15px;
}
.adv-title .title span {
  font-size: 1.4rem;
  margin-right: 2px;
}
.adv-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adv-body {
  font-family: poppins;
  color: rgb(100, 100, 100);
  font-size: 1rem;
  padding-left: 5px;
}
.adv-img {
  padding-right: 5px;
  margin-left: 10px;
}
.adv-img img {
  height: 70px;
  border-radius: 2mm;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(250, 250, 250);
  font-family: poppins;
  height: fit-content;
  margin-top: 40px;
  padding: 20px 0;
}
.footer-left {
  display: flex;
  width: fit-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
}
.footer-left .logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(71, 73, 74);
  margin: 10px 0;
  margin-right: 15px;
}
.footer-left .small-text {
  font-size: 0.9rem;
  margin: 10px 20px;
  color: rgb(100, 100, 100);
}
.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
  color: rgb(110, 110, 110);
  padding: 0 20px;
}
.main-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90vh;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.area-left {
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
.area-left img {
  margin-top: 100px;
  width: 300px;
  height: 300px;
}
.area-right {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  margin-top: 80px;
}
.the-area-wrap {
  margin-top: 20px;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.atitle {
  width: 100%;
  font-size: 5rem;
  text-align: left;
  color: rgb(36, 36, 36);
  line-height: 5rem;
  font-weight: 500;
}
.ahead {
  color: rgb(52, 168, 83);
}
.atitle-small {
  font-size: 1.8rem;
  color: rgb(71, 73, 74);
  margin-top: 40px;
}
.search {
  margin-top: 50px;
  width: 100%;
  position: sticky;
  top: 120px;
}
#search {
  font-family: poppins;
  width: 90%;
  padding: 10px 15px;
  font-size: medium;
  border: 0.5mm solid rgba(0, 0, 0, 0.098);
  border-radius: 7mm;
  outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}
#search:focus {
  border: 0.5mm solid rgb(197, 197, 197);
}
.contests {
  width: 100%;
  height: fit-content;
  position: relative;
}
.contests-container {
  width: 100%;
  height: fit-content;
}
.contests-title {
  width: 85%;
  display: block;
  margin: auto;
  font-size: 2rem;
  font-family: poppins;
  font-weight: 500;
}
.row {
  margin: auto;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}
.contest-doodle {
  position: fixed;
  top: 40%;
  left: -500px;
  width: 1000px;
  height: 700px;
  border-radius: 120mm;
  background: rgb(239, 247, 207);
  z-index: -1;
}
.contest {
  width: 300px;
  height: 300px;
  margin: 30px 0;
  box-shadow: rgba(26, 32, 28, 0.1) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border-radius: 1mm;
  background: white;
}
.contest:hover {
  box-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.17) 4px 20px 20px 0px;
}
.contest::before {
  content: "";
  position: absolute;
  top: 400px;
  left: 0px;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  background: rgb(226, 255, 237);
  transition: width 0.5s, height 0.5s;
  border-radius: 50%;
  z-index: -1;
}
.contest:hover::before {
  width: 1200px;
  height: 1200px;
}
.cardy {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 300px;
}
.card-content {
  padding: 20px;
  width: 260px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
}
.card-content .title {
  font-size: 18px;
  font-family: poppins;
  font-weight: 500;
  color: rgb(35, 35, 35);
  word-wrap: break-word;
  flex-grow: 1;
  align-self: flex-start;
}
.card-content .details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: poppins;
  flex-grow: 1;
}
.card-content .details .dura2 {
  min-width: 50px;
  min-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: medium;
  line-height: 50px;
  background: rgb(255, 255, 255);
  color: black;
  border: 0.4mm solid rgb(81, 218, 133);
  position: relative;
  margin-bottom: 15px;
}
.card-content .details .dura {
  position: relative;
  min-width: 50px;
  min-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: medium;
  line-height: 50px;
  background: rgb(81, 218, 133);
  color: black;
  border: 0.4mm solid rgb(255, 255, 255);
  margin-bottom: 15px;
  word-wrap: break-word;
  font-size: 14px;
}
.det-abs {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: small;
  height: 15px;
  transform: translate(-50%, 0);
  width: fit-content;
}
.con-date {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  font-size: 14px;
  font-family: poppins;
  color: rgb(35, 35, 35);
}
.participate {
  width: fit-content;
  background: rgb(196, 234, 207);
  border: 0.5mm solid rgb(35, 35, 35);
  padding: 7px 12px;
  border-radius: 6mm;
  font-family: poppins;
  font-size: medium;
  color: rgb(35, 35, 35);
}
.active .participate {
  background: rgb(81, 218, 133);
}
.act-tag {
  position: absolute;
  top: 5px;
  left: 5px;
  width: fit-content;
  font-size: 10px;
  color: white;
  background: rgb(52, 168, 83);
  padding: 0, 5px;
  font-family: poppins;
  display: flex;
  align-items: center;
  border-radius: 3mm;
  box-shadow: rgba(26, 32, 28, 0.1) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.15) 0px 1px 1px 1px;
}
.act-tag span {
  font-size: 10px;
}
.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-family: poppins;
}

.slides {
  display: flex;

  overflow-x: hidden;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slides::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  flex-shrink: 0;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.practice_link {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: poppins;
  text-decoration: none;
}
.practice_link img {
  width: 280px;
  transition: 0.25s;
}
.prac-title {
  font-size: 75px;
  font-weight: 500;
  color: black;
  margin-bottom: 20px;
  letter-spacing: 2px;
  transition: 0.25s;
  word-wrap: break-word;
}
.prac-right {
  display: block;
  text-align: left;
  height: 100%;
}
.prac-body {
  font-size: x-large;
  color: rgb(30, 29, 28);
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-weight: 300;
}
.prac-button {
  font-size: large;
  font-weight: 500;
  border-radius: 6mm;
  border: 0.5mm solid rgb(36, 36, 36);
  background: rgb(255, 228, 118);
  width: fit-content;
  padding: 7px 15px;
  color: rgb(30, 29, 28);
  display: flex;
  align-items: center;
}
.prac-button span {
  margin-left: 5px;
  font-size: larger;
  transition: 0.25s;
}
.practice_link:hover img {
  scale: 1.03;
}
.practice_link:hover .prac-title {
  letter-spacing: 3px;
}
.practice_link:hover .prac-button span {
  margin-left: 10px;
}
.links {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 30px;
  border-bottom: 1mm solid rgba(0, 0, 0, 0.089);
}
.links a {
  text-decoration: none;
  color: rgb(100, 100, 100);
  font-size: large;
  font-weight: 500;
  border-bottom: 1mm solid transparent;
  padding: 0 5px;
  padding-bottom: 5px;
  transform: translateY(1mm);
  display: flex;
  align-items: center;
}
.links a span {
  margin-right: 5px;
  font-size: larger;
  color: rgb(100, 100, 100);
}
.links a:hover {
  color: black;
  border-bottom: 1mm solid rgb(26, 115, 232);
}
.links a:hover span {
  color: black;
}
.links .active {
  color: black;
  border-bottom: 1mm solid rgb(26, 115, 232);
}
.links .active span {
  color: black;
}
.prac-top-com {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: poppins;
}
.practiceItem {
  width: 325px;
  height: 225px;
  border-radius: 0.75mm;
  background: white;
  color: black;
  text-decoration: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.055);
  margin: 15px;
  transition: 0.25s;
  border: 0.5mm solid transparent;
}
.practiceItem:hover {
  box-shadow: 12px 12px 0 black;
  border: 0.5mm solid black;
}
.practiceItem:hover .topic-body {
  color: black;
}
.no-area {
  margin-top: 170px;
  font-family: poppins;
  font-size: 75px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 100px;
}
.topic-top {
  width: 100%;
}
.topic-top span {
  font-size: x-large;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background: rgb(245, 244, 246);
  box-shadow: inset 0.2mm 0.2mm 0.2mm rgba(0, 0, 0, 0.058);
}
.topic-body {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: rgb(5, 110, 215);
}
.topic-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tb-left {
  color: rgb(168, 168, 168);
  font-size: small;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: fit-content;
}
.tb-left span {
  margin-right: 5px;
  font-size: medium;
  color: rgb(168, 168, 168);
}
.tb-right {
  color: rgb(4, 72, 141);
}
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}
@media all and (max-width: 900px) {
  .chapter-navigation {
    align-items: center;
    justify-content: space-between;
  }
  .chapter-nav-btn {
    width: auto;
    display: none;
  }
  .nav-chapter-logo {
    width: auto;
    align-self: center;
  }
  .nav-chapter-logo2 {
    width: auto;
  }
  .nav-btn {
    display: none;
  }
  .mbutton {
    display: block;
  }
  .footer-left {
    width: 100%;
  }
  .footer-right {
    width: 100%;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(155, 155, 155);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
  .langs {
    flex-direction: column;
  }
  .content .big {
    font-size: 6rem;
  }
  .lang-img img {
    width: 90%;
  }
  .lang-content {
    width: 90%;
  }
  .atitle {
    font-size: 4rem;
  }
}
