<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
      body {
        padding: 0;
        margin: 0;
        min-height: 100vh;
        background: rgb(11, 12, 11);
        font-family: poppins;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .head {
        width: 100%;
      }
      .head span {
        margin-left: 15px;
        font-size: xx-large;
        color: white;
      }
      .message {
        flex-grow: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 100%;
      }
      .left {
        width: 350px;
        min-height: 350px;
        height: fit-content;
        border: 1mm solid rgb(198, 247, 136);
        font-size: xx-large;
        font-weight: 500;
        color: white;
        box-shadow: 10px 10px 0px rgb(231, 255, 200);
        padding: 10px;
      }
      .right {
        width: 350px;
        height: 350px;
      }
      .right img {
        width: 350px;
      }
    </style>
  </head>
  <body>
    <div class="head"><span>BuildIT</span></div>
    <div class="message">
      <div class="left">
        <% if(data.message){ %> <%= data.message %> <%} else {%> Hey there
        server is running <%}%>
      </div>
      <div class="right">
        <% if(!data.message || data.successs){ %>
        <img src="../Public/5000Back1.svg" alt="img" />
        <%} else {%>
        <img src="../Public/5000Back2.svg" alt="img" />
        <%}%>
      </div>
    </div>
    <script>
      setTimeout(() => {
        window.history.back();
      }, 3000);
    </script>
  </body>
</html>
