<footer>
  <div class="footer-left">
    <div class="logo">BuildIT</div>
    <div class="small-text">Contact</div>
    <div class="small-text">About</div>
    <div class="small-text">Privacy</div>
    <div class="small-text">Terms</div>
  </div>
  <div class="footer-right">
    <div class="copy">
      Copyright ©
      <script>
        var CurrentYear = new Date().getFullYear();
        document.write(CurrentYear);
      </script>
    </div>
  </div>
</footer>
